name: pspdfkit_example
description: Demonstrates how to use the pspdfkit plugin.
version: 3.3.0
homepage: https://pspdfkit.com/
environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: '>=3.0.4'

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.3

dev_dependencies:
  flutter_lints: ^2.0.1
  flutter_test:
    sdk: flutter

  pspdfkit_flutter:
    path: ../

# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - PDFs/
    - PDFs/Instant/
