## This file is a sample of available properties that you have to declare inside your primary local.properties file.

ndk.dir=/path/to/your/android/ndk
sdk.dir=/path/to/your/android/sdk
flutter.sdk=/path/to/your/flutter/sdk
flutter.buildMode=debug
