<!--
  ~   Copyright © 2018-2024 PSPDFKit GmbH. All rights reserved.
  ~
  ~   THIS SOURCE CODE AND ANY ACCOMPANYING DOCUMENTATION ARE PROTECTED BY INTERNATIONAL COPYRIGHT LAW
  ~   AND MAY NOT BE RESOLD OR REDISTRIBUTED. USAGE IS BOUND TO THE PSPDFKIT LICENSE AGREEMENT.
  ~   UNAUTHORIZED REPRODUCTION OR DISTRIBUTION IS SUBJECT TO CIVIL AND CRIMINAL PENALTIES.
  ~   This notice may not be removed from this file.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:largeHeap="true">
        <activity
            android:name="com.pspdfkit.flutter.pspdfkit.FlutterPdfActivity"
            android:windowSoftInputMode="adjustNothing" />

        <meta-data
            android:name="pspdfkit_automatic_initialize"
            android:value="false" />
    </application>
</manifest>
